<form action="ramen/delete/{{this.id}}?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{this.id}}">
    <button class="btn btn-sm btn-warning btn-block" type="submit"><i class="fa fa-ban" aria-hidden="true"></i> Clear</button>
</form>
