<form action="ramen/update/{{this.id}}?_method=PUT" method="POST">
    <input type="hidden" name="devoured" value="true">
    <button class="btn btn-sm btn-success btn-block" type="submit"><span class="icon-chopsticks"></span> Devour</button>
</form>
