<div class="media">
    <div class="media-left media-middle">
        <img class="ramen-bowl media-object" src="{{this.image}}" alt="Bowl of Ramen">
    </div>
    <div class="media-body">
        <h4 class="ramen-name media-heading text-center">{{this.ramen_name}}</h4><h6 class="text-center">Created by {{this.User.username}}</h6> {{> ramen/clear-ramen}}
    </div>
</div>
