<form action="ramen/delete/{{this.id}}?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{this.id}}">
    <button class="btn btn-sm btn-danger btn-block" type="submit"><i class="fa fa-trash" aria-hidden="true"></i> Trash</button>
</form>
